{% extends "base.html" %} 


{% block content %}

    {% include "flash.html" %}

    <form method='POST'>
        {{ form.hidden_tag() }}
        <br>
        <div class="mb-3"> 
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", placeholder="Neo") }}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="email@domain.com") }}
        </div>
        <div class="mb-3">
            {{ form.password_1.label(class="form-label") }}
            {{ form.password_1(class="form-control") }}
        </div>
            {{ form.password_2.label(class="form-label") }}
            {{ form.password_2(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.reg_key.label(class="form-label") }}
            {{ form.reg_key(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock  %}

